<h1>Bank App</h1>
<div class="branchlist">
  <% @branches.each do |b| %>
    <table>
        <tbody>
          <tr>
            <td><strong>ifsc:</strong></td>
            <td><%= b.ifsc  %></td>
          </tr>
          <tr>
            <td><strong>number:</strong></td>
            <td><%= b.number %></td>
          </tr>
          <tr>
            <td><strong>number:</strong></td>
            <td><%= b.number %></td>
          </tr>
          <tr>
            <td><strong>address:</strong></td>
            <td><%= b.address %></td>
          </tr>
          </tbody>
    </table>
    <%end%>
</div>