<h1>Bank App</h1>
<div>
  <% @branches.each do |b| %>
    <table>
        <tbody>
          <tr>
            <td><strong>ifsc:</strong></td>
            <td><%= (b.number)  %></td>
          </tr>
          <tr>
            <td><strong>number:</strong></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td><strong>number:</strong></td>
            <td><%=  %></td>
          </tr>
          <tr>
            <td><strong>address:</strong></td>
            <td><%=  %></td>
          </tr>
          </tbody>
    </table>
    <%end%>
</div>